// You can add CSS rules here that will be inlined into each document.
.sidebar a {
  text-shadow: rgba(0, 0, 0, 0.25) 0.1rem 0.1rem 0.15rem;
}
.sidebar-bg {
	//background: linear-gradient(225deg, rgba(0,0,0,1) 0%, rgba(0,0,100,1) 80%);
	background: linear-gradient(225deg, rgba(27,10,58,1) 0%, rgb(0, 92, 239) 80%);
	background-position: center;
}
.sidebar-about {
	margin-bottom: 3rem;
}
.sidebar-about .avatar {
	width: 8rem;
	height: 8rem;
    border-radius: unset;
    overflow: hidden;
    display: inline-block;
    position: relative;
	z-index: 1;
	padding: unset;
	margin-bottom: 0.75rem;
}
.sidebar-about>a.sidebar-title {
    display: none;
}
.layout-about img[src*="/assets/img/authors"]{
	padding: 1rem 0.5rem;
    width: 9rem;
    height: 10rem;
}
.layout-about img[src*="/assets/img/tools"]{
	padding: 20px;
}
img[src*="/assets/img/tabletopgames/thumbnail"]{
	padding: 20px 10px;
}
iframe {
	display: block;
	width: 100vw;
	height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	border: 0 none;
	box-sizing: border-box;
}
