.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .7rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .3rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

.sidebar-bg {
  background: linear-gradient(225deg, rgba(0,0,0,1) 0%, rgba(0,0,100,1) 80%);
  background-position: center;
}

.content .aspect-ratio img {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    background-color: var(--gray-bg);
}